* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* text-align: center; */
}

body {
    background: url(/assets/reformation-wall-mur.jpg) center no-repeat;
    background-size: cover;
    height: 100vh;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    font-family: 'Times New Roman', Times, serif;
}

.dashboard {
  margin: .5em;
}

button {
    background-color: aquamarine;
    padding: .5em; 
    border: none;
    cursor: pointer;
}

a {
    color: black;
    background-color: aquamarine;
    text-decoration: none;
}

button:hover, 
a:hover, 
button:focus,
a:focus {
    background-color: black;
    color: white;
}